
/*input {
border: 2px inset white;
background-color: white;
color: black;
-moz-appearance: none !important;
}
textarea {
border: 2px inset white;
background-color: white;
color: black;
-moz-appearance: none !important;
}
select {
border: 2px inset white;
background-color: white;
color: black;
-moz-appearance: none !important;
}
*/

body {
background-color: white;
color: black;
display: block;
margin: 8px;
-moz-appearance: none !important;
}

input, select, textarea {
	border: 1px solid #e3e3e3;
	background-color: white;
	color: #4a4a4a;
	-moz-appearance: none !important;
}

* .OutlineContent {background-color: #fff !important;}

/*::selection, ::-moz-selection {
	color: #FEFEFE !important;
	background: #181818 !important;
}*/

@-moz-document url("about:home"), url("about:newtab") {
	/*body {--newtab-background-color: #0F1419 !important;} COMUN */
	body {background: linear-gradient(178deg, #222424, #0F1419, #0F1419, #0F1419, #0F1419);}
	.activity-stream .onboarding-watermark {opacity: 0.2;}
	.activity-stream .sections-list .top-site-icon {filter: saturate(10%);}
	.icon-settings {opacity: 0.1;}
}
